.add-pic1 {
    background-size: 80%;
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/computer/2/v/v/-original-imagfdeqter4sj2j.jpeg?q=70");
}

.add-pic2 {
    background-size: 80%;
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/computer/a/w/p/-original-imagfdeqqe6kkuxw.jpeg?q=70");
}

.add-pic3 {
    background-size: 90%;
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/computer/j/r/t/-original-imagfdeqhcbt4mfu.jpeg?q=70");
}

.add-pic4 {
    background-size: 80%;
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/computer/q/x/g/-original-imagfdeqzyg92uza.jpeg?q=70");
}

.content-section3 {
    background-color: white;
}

.from-the-brand {
    margin: 5em 0;
}

.pic1 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/computer/j/r/t/-original-imagfdeqhcbt4mfu.jpeg?q=70");
}

.pic2 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/computer/q/x/g/-original-imagfdeqzyg92uza.jpeg?q=70");
}

.pic3 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/computer/b/d/n/-original-imagfdeqvjtkhuhk.jpeg?q=70");
}

.pic4 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/computer/u/8/n/-original-imagfdeqhmfry6e8.jpeg?q=70");
}

.pic5 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/computer/k/n/v/-original-imagfdeqqwqtsfyr.jpeg?q=70");
}

.pic6 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/computer/l/e/b/-original-imagfdeqsgxj6chx.jpeg?q=70");
}