.banner {
    background-size: contain;
    background-color: black;
    background-image: url("https://m.media-amazon.com/images/S/aplus-media-library-service-media/3514125a-ac1b-4ec5-ab76-92a39ee4601d.__CR0,0,970,300_PT0_SX970_V1___.png");
}

.anc .product-pic1 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/m/a/c/-original-imagrddwvkykfwtz.jpeg?q=70");
}

.anc .product-pic2 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/khp664w0-0/headphone/o/e/k/smbt0626-wings-original-imafxngjqkryjyx9.jpeg?q=70");
}

.anc .product-pic3 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/x/m/v/-original-imagnydghgvy9huf.jpeg?q=70");
}

.anc .product-pic4 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/r/k/7/-original-imagrs3zw6hf7fyq.jpeg?q=70");
}

.anc .product-pic5 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/u/d/p/-original-imaghzfzswz8pmxf.jpeg?q=70");
}

.anc .product-pic6 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/f/i/q/-original-imagspmhc2nnupp7.jpeg?q=70");
}

.speakers .product-pic1 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/jrkyfm80/speaker/mobile-tablet-speaker/b/m/z/boat-stone-650-original-imafdczxyuzsyykk.jpeg?q=70");
}

.speakers .product-pic2 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/speaker/mobile-tablet-speaker/p/p/3/jblflipes2-jbl-original-imaghhxczcphv48d.jpeg?q=70");
}

.speakers .product-pic3 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kingqkw0-0/speaker/mobile-tablet-speaker/s/8/i/stone-350-boat-original-imafyebfuaumdezs.jpeg?q=70");
}

.speakers .product-pic4 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/l27wtjk0/speaker/i/4/e/-original-imagdhhg2f7zjbt7.jpeg?q=70");
}

.speakers .product-pic5 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/ktaeqvk0/speaker/mobile-tablet-speaker/j/i/p/rma2002-realme-original-imag6zdmtmatufd4.jpeg?q=70");
}

.speakers .product-pic6 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kpzt7680/speaker/mobile-tablet-speaker/c/7/o/sounddrum-1-por-1327-portronics-original-imag43tcuz8swymc.jpeg?q=70");
}

.headphones .product-pic1 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/f/j/7/-original-imagh8xpkfdnmk2v.jpeg?q=70");
}

.headphones .product-pic2 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/p/v/f/-original-imagg24btwqugnt2.jpeg?q=70");
}

.headphones .product-pic3 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/r/k/7/-original-imagrs3zw6hf7fyq.jpeg?q=70");
}

.headphones .product-pic4 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/x/s/b/-original-imagtwb7gghtjkqw.jpeg?q=70");
}

.headphones .product-pic5 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/l58iaa80/headphone/l/g/g/wi-c100-sony-original-imagfybgg8kzz4sz.jpeg?q=70");
}

.headphones .product-pic6 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kn6cxow0/headphone/b/y/c/t125btblu-jbl-original-imagfxyhpccvxhtr.jpeg?q=70");
}

.tws .product-pic1 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/s/t/m/-original-imaghxgnjdgyghfw.jpeg?q=70");
}

.tws .product-pic2 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/d/q/r/-original-imagp6skt77zsdjt.jpeg?q=70");
}

.tws .product-pic3 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/p/r/z/enco-buds-2-oppo-original-imagh9frfp7gxdb3.jpeg?q=70");
}

.tws .product-pic4 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/0/v/m/nord-buds-2-oneplus-original-imagnwf7sgjetqwg.jpeg?q=70");
}

.tws .product-pic5 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/ky7lci80/headphone/c/j/q/wf-c500-bz-in-sony-original-imagahvreyx7heq7.jpeg?q=70");
}

.tws .product-pic6 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/5/s/q/-original-imagpa229ujuyghj.jpeg?q=70");
}

.soundbars .product-pic1 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kiqbma80-0/speaker/soundbar/l/l/o/aavante-bar-3100d-boat-original-imafygcgjbcerj7f.jpeg?q=70");
}

.soundbars .product-pic2 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/speaker/m/h/s/-original-imaggrf8mfkyyvvj.jpeg?q=70");
}

.soundbars .product-pic3 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/speaker/y/i/m/-original-imagtgwmt5hjyaqy.jpeg?q=70");
}

.soundbars .product-pic4 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/speaker/i/i/m/-original-imagjt95fn7gnwqv.jpeg?q=70");
}

.soundbars .product-pic5 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/speaker/m/t/v/-original-imagqhzhzh3yrwqy.jpeg?q=70");
}

.soundbars .product-pic6 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/k687wy80/speaker/soundbar/p/j/d/sony-ht-s20r-original-imafzqfswaz5eamz.jpeg?q=70");
}