.banner {
    background-image: url("https://www.pbtech.co.nz/fileslib/_20230628134559_xiaomi-brand-header-desktop.webp");
}

.mobiles .product-pic2 {
background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/mobile/v/c/x/-original-imagqmtffg9sjjp6.jpeg?q=70");
}  

.mobiles .product-pic4 {
background-image: url("https://rukminim2.flixcart.com/image/832/832/ky7lci80/mobile/j/u/r/-original-imagagf6zvvbfjjg.jpeg?q=70");
}  

.mobiles .product-pic5 {
background-image: url("https://rukminim2.flixcart.com/image/832/832/ky7lci80/mobile/w/3/c/-original-imagag2gzgkcd5yx.jpeg?q=70");
}  

.mobiles .product-pic6 {
background-image: url("https://rukminim2.flixcart.com/image/832/832/kjlrb0w0/mobile/6/a/e/mi-10i-m10ix06-original-imafz53gjzqae2kr.jpeg?q=70");
}

.laptops .product-pic1 {
background-size: 80%;
background-image: url("https://m.media-amazon.com/images/I/710aJMxsUXL._SX679_.jpg");
}

.laptops .product-pic2 {
background-size: 75%;
background-image: url("https://m.media-amazon.com/images/I/71D-xbvtz-L._SX679_.jpg");
}

.laptops .product-pic3 {
background-size: 80%;
background-image: url("https://m.media-amazon.com/images/I/71iiXU7HHkL._SX679_.jpg");
}

.laptops .product-pic4 {
background-size: 80%;
background-image: url("https://m.media-amazon.com/images/I/81RHHnGydgL._SX679_.jpg");
}

.laptops .product-pic5 {
background-size: 90%;
background-image: url("https://m.media-amazon.com/images/I/61uCo2iR+5L._SX679_.jpg");
}

.laptops .product-pic6 {
background-size: 100%;
background-image: url("https://m.media-amazon.com/images/I/713he67k8HL._SX679_.jpg");
}

.headphones .product-pic1 {
background-image: url("https://rukminim2.flixcart.com/image/832/832/kbzergw0/headphone/q/j/f/ydjc01jy-mi-original-imaft7gypyfhhpjr.jpeg?q=70");
}

.headphones .product-pic2 {
background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/headphone/8/p/b/-original-imagrygdyhgzxeca.jpeg?q=70");
}

.headphones .product-pic3 {
background-image: url("https://rukminim2.flixcart.com/image/832/832/kelptow0-0/headphone/a/6/e/ydjc02wm-redmi-original-imafv8umtxpu9zda.jpeg?q=70");
}

.smartwatches .product-pic1 {
background-size: 60%;
background-image: url("https://i03.appmifile.com/646_item_in/01/08/2023/005b1690bff88af812672ed73a05e402.jpg?width=400&height=400");
}

.smartwatches .product-pic2 {
background-image: url("https://i01.appmifile.com/webfile/globalimg/7/43D1A1BE-16A8-7FAD-B714-D18112E5E51F.png");
}

.smartwatches .product-pic3 {
background-image: url("https://i02.appmifile.com/242_operator_sg/11/02/2022/a2964a3210435be66a4329827b15123e.png");
}

.smartwatches .product-pic4 {
background-size: 60%;
background-image: url("https://i01.appmifile.com/v1/MI_18455B3E4DA706226CF7535A58E875F0267/pms_1620732630.68229277!600x600!85.png");
}

.smartwatches .product-pic5 {
background-image: url("https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQpvNeTrkE2zc8l1dHnCFkFd2H8SVLhyetOtX3QOkGXrUgpib_PNy2adtu2gM9r1r7LO80LAEq2j3Y37RkbiHcIAvRD6o51vq41GrEGRA0DJ7fr9qGK3TenzA");
}

.smartwatches .product-pic6 {
background-size: 60%;
background-image: url("https://m.media-amazon.com/images/I/61EYslKjvUS._SX679_.jpg");
}

.appliances .product-pic1 {
background-image: url("https://rukminim2.flixcart.com/image/612/612/xif0q/trimmer/5/p/p/-original-imagsz7ge8mgzcff.jpeg?q=70");
}

.appliances .product-pic2 {
background-image: url("https://rukminim2.flixcart.com/image/612/612/xif0q/trimmer/u/e/x/0-5-20-mm-xmght2clf-stainless-steel-cordless-mi-original-imagzjj3fc7gaftc.jpeg?q=70");
}

.appliances .product-pic3 {
background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/television/t/q/f/-original-imagt86kc5jttkxa.jpeg?q=70");
}

.appliances .product-pic4 {
background-size: 50%;
background-image: url("https://i03.appmifile.com/275_item_in/09/06/2023/4d36068e476e5e4cbe932709a47e71e6!600x600!85.jpg");
}

.appliances .product-pic5 {
background-size: 55%;
background-image: url("https://m.media-amazon.com/images/I/51KDvK3m+SL._SX679_.jpg");
}

.appliances .product-pic6 {
background-size: 70%;
background-image: url("https://m.media-amazon.com/images/I/71zAlwulOOL._SX679_.jpg");
}

.appliances .product-pic7 {
    background-image: url("https://i01.appmifile.com/v1/MI_18455B3E4DA706226CF7535A58E875F0267/pms_1658400388.2213048!256x256.jpg?f=webp");
}

.appliances .product-pic8 {
    background-image: url("https://i01.appmifile.com/v1/MI_18455B3E4DA706226CF7535A58E875F0267/pms_1638345123.88957524!256x256.jpg?f=webp");
}

.appliances .product-pic9 {
    background-size: 75%;
    background-image: url("https://i01.appmifile.com/v1/MI_18455B3E4DA706226CF7535A58E875F0267/pms_1602652892.02454085.png?width=400&height=400");
}