.mobile-acc-heading {
    text-align: center;
}

.content {
    margin-top: 50px;
}

.product-pic1 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/mobile-holder/w/e/d/stand-universal-mobile-holder-black-expro-no-original-imagqef8g2c9mph3.jpeg?q=70");
}
.product-pic2 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kgwld3k0/mobile-holder/w/b/e/por-1152-modesk-101-wall-hanging-portronics-original-imafxfbhpm6wwfd9.jpeg?q=70");
}
.product-pic3 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/ksez24w0/mobile-holder/z/x/t/mobile-stand-holder-for-table-with-adjustable-height-update-2021-original-imag5zwzgfpzfh7g.jpeg?q=70");
}
.product-pic4 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/battery-charger/u/b/p/-original-imagqjh6gg35h7hz.jpeg?q=70");
}
.product-pic5 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/battery-charger/b/9/q/-original-imagqjh7zkznhahp.jpeg?q=70");
}
.product-pic6 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kkec4280/screen-guard/tempered-glass/m/f/7/red9pro-matte-11-mahto-original-imafzqf9atksgjen.jpeg?q=70");
}

.product-pic7 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/cases-covers/back-cover/d/p/e/vcv1-vmt-stock-original-imagprubxwa3mzzj.jpeg?q=70"  );
}

.product-pic8 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kr83ukw0/power-bank/w/5/6/power-bank-plm13zm-mi-original-imag52az6xpcvjdk.jpeg?q=70");
}

.product-pic9 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kfcv6vk0/power-bank/r/f/5/power-bank-20000-plm18zm-mi-original-imafvtc7x9zgrzbz.jpeg?q=70");
}

