.tablets-heading {
    text-align: center;
}

.content {
    margin-top: 50px;
}

.product-pic1 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/tablet/h/4/s/-original-imagu2h39539yhry.jpeg?q=70");
}
.product-pic2 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/tablet/h/t/k/zac40038in-lenovo-original-imagu3tr4c4vxkzg.jpeg?q=70");
}
.product-pic3 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/ktop5e80/tablet/x/9/o/mk2k3hn-a-apple-original-imag6yy7xjjugz4w.jpeg?q=70");
}
.product-pic4 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kyag87k0/tablet/4/n/o/g70-lte-moto-original-imagak3huz7jweyz.jpeg?q=70");
}
.product-pic5 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/tablet/o/y/8/rmp2204-realme-original-imagrhcqdhdyc9tg.jpeg?q=70");
}
.product-pic6 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/tablet/d/d/n/-original-imaggp4gtdze4hfd.jpeg?q=70");
}

.product-pic7 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/ky7lci80/tablet/e/d/m/sm-x205nzaeinu-samsung-original-imagahrshg78gwvb.jpeg?q=70"  );
}

.product-pic8 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/l5h2xe80/tablet/f/l/g/6650287-oppo-original-imagg55sjgrashbc.jpeg?q=70");
}

.product-pic9 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/tablet/y/a/y/-original-imaggfrhvghucswf.jpeg?q=70");
}

.product-pic10 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/tablet/r/4/m/-original-imagj72vqsfqgzpf.jpeg?q=70"    );
}

.product-pic11 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/tablet/c/s/v/opd2203-oneplus-original-imagzbd5h8ybgccv.jpeg?q=70");
}

.product-pic12 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kf75fgw0/tablet/n/w/f/apple-myh02hn-a-original-imafvpq8beatdnyg.jpeg?q=70");
}
