.wearables-heading {
    text-align: center;
}

.content {
    margin-top: 50px;
}

.product-pic1 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/smartwatch/p/u/b/41-ga05029-gb-android-google-no-original-imagtf3rxyepwhdt.jpeg?q=70");
}
.product-pic2 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kjem3rk0-0/smart-glass/9/n/j/ir-nmon-irusu-original-imafyzgfvewctzzm.jpeg?q=70");
}
.product-pic3 {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/smartwatch/z/2/6/-original-imagsem65wyrhbfr.jpeg?q=70");
}
.product-pic4 {
    background-size: 80%;
    background-image: url("https://images.samsung.com/is/image/samsung/p6pim/in/2307/gallery/in-galaxy-watch6-r945-sm-r940nzsains-537406468?$730_584_PNG$");
}
.product-pic5 {
    background-image: url("https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/MT633_VW_34FR+watch-49-titanium-ultra2_VW_34FR+watch-face-49-ocean-ultra2_VW_34FR_GEO_IN?wid=5120&hei=3280&bgc=fafafa&trim=1&fmt=p-jpg&qlt=80&.v=QW9iblFXUXk5Tnh2eis2eEZYNlNjUHZ4OU1ucmxYekw5aGF6a2ZZcG9hazdPN2hFakIxbjdEcTdvSm41NlVxWjY4QUVCdUdBMlBPcFgrL3RBcVB1cmY5akxmSjBzTThIaWphQnAvU3pXTzIxdHhVWFZxZklidU5BYllKNWFXZGl2S1B4dHJnZWVOenUzMmROdk9lOEdvSk43K25VYm5JaE5XMFJ6MEt5SVUydE13ZlhvMEpDZW1JRkhPN0RCZ0xWV1A4WkJQQ3BvYXllL2FBdjdLS29NZz09");
}
.product-pic6 {
    background-size: 60%;
    background-image: url("https://i03.appmifile.com/646_item_in/01/08/2023/005b1690bff88af812672ed73a05e402.jpg?width=400&height=400");
}

.product-pic7 {
    background-image: url("https://i01.appmifile.com/webfile/globalimg/7/43D1A1BE-16A8-7FAD-B714-D18112E5E51F.png"  );
}

.product-pic8 {
    background-image: url("https://i02.appmifile.com/242_operator_sg/11/02/2022/a2964a3210435be66a4329827b15123e.png"   );
}

.product-pic9 {
    background-size: 60%;
    background-image: url("https://i01.appmifile.com/v1/MI_18455B3E4DA706226CF7535A58E875F0267/pms_1620732630.68229277!600x600!85.png");
}

.product-pic10 {
    background-image: url("https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQpvNeTrkE2zc8l1dHnCFkFd2H8SVLhyetOtX3QOkGXrUgpib_PNy2adtu2gM9r1r7LO80LAEq2j3Y37RkbiHcIAvRD6o51vq41GrEGRA0DJ7fr9qGK3TenzA"    );
}

.product-pic11 {
    background-size: 60%;
    background-image: url("https://m.media-amazon.com/images/I/61EYslKjvUS._SX679_.jpg");
}

.product-pic12 {
    background-image: url("https://m.media-amazon.com/images/I/71gWerSwFPL._SX679_.jpg");
}
